<!DOCTYPE html>
<html lang="en">
{% load static %}   
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://kit.fontawesome.com/2da2f05724.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'styles/inicio.css' %}">
    <title>AguilaShop</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark px-5">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'index' %}">AguilaShop</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'index' %}">Home</a>
                    </li>
                    {% block nav %}
                    {% endblock %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'tickets' %}">Tickets</a>
                    </li>

                    <!-- LogUp and LogIn buttons -->
                    {% if user.is_authenticated %}
                    {% if user.is_superuser %}
                    <li class="nav-item">
                        <a href="{% url 'products_admin' %}" class="nav-link active">administrador</a>
                    </li>
                    {% endif %}
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'shopping_history' %}">Sales</a>
                    </li>

                    <li class="nav-item">
                        <button class="btn btn-dark"><a href="{% url 'SignOut' %}">LogOut</a></button>
                    </li>
                    {% else %}  
                    <li class="nav-item">
                        <button class="btn btn-dark"><a href="{% url 'SignUp' %}">SignUp</a></button>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-dark"><a href="{% url 'SignIn' %}">SignIn</a></button>
                    </li>
                    {% endif %}
                </ul>
            </div>
        </div>
    </nav>

    <main class="main">

        <article class="article">

            <div class="inicio">

                <div class="inicio-content">
                    <h1>Los productos de tu equipo favorito en un solo lugar</h1>
                    <p>Comparte de la emocion del futbol con nuestros productos hechos solo para los mas grandes amantes del Futbol y del Club America</p>

                    {% if user.is_authenticated %}

                    {% else %}

                    <button class="btn btn-dark"><a href="{% url 'SignUp' %}">SignUp</a></button>
                    <button class="btn btn-dark"><a href="{% url 'SignIn' %}">SignIn</a></button>
                    
                    
                    {% endif %}
                    
                </div>

                <div class="inicio-image">
                    <img src="{% static 'IMG/landing-removebg-preview.png' %}" alt="">
                </div>
                
            </div>

        </article>

        <section class="section">
            <h2 class="titulo">Sobre Nosotros</h2>
            <div class="elements">

                <div class="element-container">
                    <div class="element">
                        <h2 class="subtitle">Seguridad y Proteccion</h2>
                        <i class="fa-solid fa-lock"></i>
                    </div>
                    <div class="info-element">
                        <p>Todas tus compras estaran protegidas gracias a nuestro sistema de seguridad y antirrobo, en caso de extravios en la entrega o algun error o defecto en el producto, reportar al numero 55 2013-2545 para posteriormente proceder con su rembolso segun corresponda</p>
                    </div>
                </div>

                <div class="element-container">
                    <div class="element">
                        <h2 class="subtitle">Verificados Por Club America</h2>
                        <i class="fa-solid fa-spell-check"></i>
                    </div>
                    <div class="info-element">
                        <p>Todos nuestros productos estan verificados por Club America Official, y estos tienen un sello de autenticidad el cual viene incluido con el producto, ademas cada uno de nuestros productos tiene una garantia de 30 dias, para mas informacion consulta los terminos de servicio.</p>
                    </div>
                </div>

                <div class="element-container">
                    <div class="element">
                        <h2 class="subtitle ">Productos de Primera</h2>
                        <i class="fa-solid fa-ranking-star"></i>
                    </div>
                    <div class="info-element">
                        <p>Cada uno de nuestros productos estan fabricados con materiales de primera, con lo cual aseguramos calidad a todos nuestros aficionados del Club America. Para mas informacion puedes llamar al siguiente numero: 55 2015-2026</p>
                    </div>
                </div>

            </div>

            <div class="info-container">

                <div class="info">
                    <div class="info-img">
                        <img src="{% static 'IMG/img-1.jpg' %}" alt="IMG">
                    </div>
                    <h3 class="text-center fs-5 mt-2">Un sitio web intuitivo y de facil acceso para todos los usuarios de nuestra Plataforma.</h3>
                </div>

                <div class="info">
                    <div class="info-img">
                        <img src="{% static 'IMG/img-2.jpg' %}" alt="IMG">
                    </div>
                    <h3 class="text-center fs-5 mt-2">Un sitio web multiplataforma para una mayor accesibilidad para los usuarios.</h3>
                </div>

                <div class="info">
                    <div class="info-img">
                        <img src="{% static 'IMG/img-3.jpg' %}" alt="IMG">
                    </div>
                    <h3 class="text-center fs-5 mt-2">No te quedes sin estrenar con nuestras renovaciones constantes de inventarios.</h3>
                </div>

            </div>

        </section>

    </main>

    <footer class="footer">

        <div class="info-footer">

            <h3>Mas informacon sobre AguilaShop</h3>
            <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Repellat culpa vel nam blanditiis, voluptatibus tempora ut, ad suscipit obcaecati natus voluptas molestias at deleniti fuga, iure magnam quo? Quis, voluptatibus fugiat quos est sapiente hic modi non, ea praesentium quod architecto cum illum explicabo possimus? Quasi ex et quod? Deserunt?</p>

        </div>
    
        <div class="footer-sosial-media">
            <h3>Redes Sociales</h3>
            <i class="fa-brands fa-facebook"><a href="#" class="text-light">Siguenos en Facebook</a></i>
            <i class="fa-brands fa-instagram"><a href="#" class="text-light">Siguenos en Instagram</a></i>
            <i class="fa-brands fa-twitter"><a href="#" class="text-light">Siguenos en Twitter</a></i>
            <i class="fa-brands fa-tiktok"><a href="#" class="text-light">Siguenos en TikTok</a></i>
        </div>
        <div class="footer-contact">
            <h3>Informacion de Contacto</h3>
            <i class="fa-solid fa-house"><a>Ciudad de Mexico<br>Alcaldia Benito Juarez<br>Colonia Madero</a></i>
            <i class="fa-solid fa-mobile-screen"><a>+52 55-0245-0025</a></i>
            <i class="fa-regular fa-envelope"><a>aguilashopofficial@gmail.com</a></i>
        </div>

    </footer>
</body>
</html>