<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'styles/sales_admin.css' %}">
    <title>Sells</title>
</head>
<body>

    <nav class="navbar navbar-expand-lg bg-dark navbar-dark">
        <div class="container-fluid">
            <a class="navbar-brand" href="{% url 'products_admin' %}">Administrador</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'CategoryAdmin' %}">Categorias</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{% url 'products_admin' %}">Articulos</a>
                    </li>
                    
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'tickets_admin' %}">Tickets</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'salesP_admin' %}">Ventas</a>
                    </li>

                    <li class="nav-item">
                        <a class="nav-link active" href="{% url 'index' %}">Home</a>
                    </li>
                    <li class="nav-item">
                        <button class="btn btn-dark"><a href="{% url 'Super_USer' %}">Create Super User</a></button>
                    </li>
                </ul>
            </div>
        </div>
    </nav>

    <main class="main bg-dark">

        <article class="article">

            <div class="sidebar">
                <h2 class="text-center fs-4 text-primary">Categorias</h2>
                <ul class="menu">
                    {% block navLately %}
                    {% endblock %}
                </ul>
            </div>

            <div class="products-container card card-body bg-dark ps-5 d-flex flex-column">
                <h2 class="text-light text-center">Administrar Ventas</h2>
                {% block target %}
                {% endblock %}

            </div>

        </article>

    </main>

    
</body>
</html>