*{

    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;

}

body{

    background: #11435B;

}



.nav-bar{

    width: 100%;
    height: 75px;
    display: flex;
    background: #000;
    justify-content: space-between;
    background: #0e141b;
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);

}

.nav-bar ul{

    display: flex;
    width: 70%;
    justify-content: space-around;
    align-items: center;
}

.nav-bar ul li{

    list-style: none;
    align-items: center;
    padding: 5px;

}

.nav-bar ul li a{

    color: #fff;

}

.logo{

    height: 4em;
}

.nav-buttons{

    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.nav-btn{

    align-items: center;
    height: 75%;
    width: 25%;
    border:5px#000;
    background: transparent;
    border-radius: 3px solid #fff;

}

.nav-btn:hover{
    cursor: pointer;
}

.article{

    height: 89vh;
    width: 100%;
    display: flex;
    /*background: #040e75;*/

}

.inicio{

    height:80%;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;

}

.inicio-content{

    height: 90%;
    width: 45%;
    align-self: center;
    padding: 10px;
    text-align: center;
}


.inicio-content h1,p{

    color: #999;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
}

.intercalated-bg span:nth-child(odd) {
    background-color: #040e75; /* Color para las palabras impares */
}
    
.intercalated-bg span:nth-child(even) {
    background-color: #d42f2f; /* Color para las palabras pares */
}
  
.inicio-content h1{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 45px;
    margin-bottom: 25px;
    line-height: 50px;
    color: #F2AA1F;

}

.inicio-image{

    height: 90%;
    width: 45%;
    align-self: center;
    display: flex;

}

.inicio-image img{

    margin: auto;
    width: 90%;
    height: 90%;
    object-fit: cover;

}

.landing-btn{

    margin-top: 50px;
    background: #040e75;
    height: 12%;
    width: 35%;
    border-radius: 20px;
    border: 2px solid #000;

}

.section{

    width: 100%;
    height: 100%;
    display: flex;  
    flex-direction: column;
    padding:20px 0;
    /*background: gray;*/

}

.mas-populares{

    height: 100%;
    width: 100%;
    padding: 10px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 15px;
    /*background: #040e75;*/

}

.all-products{

    height: 100%;
    width: 100%;
    display: flex;
    padding: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
    overflow-wrap: initial;
    background: rgb(207, 204, 189);
    padding: 2em 3em;

}

.producto{

    height: 39em;
    height: 100%;
    width: 20em;
    border-radius:7px;
    padding: 15px;
    margin: 1px 1px 3px 1px;
    text-align: center;
    border: solid 4px #3d82a2;
    margin-bottom: 15px;
    background: #11435B;
    overflow: hidden;

}

.img-producto{

    height: 17em;
    width: 100%;
    max-height: 17em;
    min-height:15em;
    margin-bottom: 10px;
    object-fit: cover;
    padding: 5px;
}

.img-producto img{

    width: 100%;
    height: 100%;
    display: block;

}

.producto-Info{

    width: 100%;
    height: 20em;
    padding: 5px;
    overflow: hidden;
    /* background: violet; */

}

.producto-Info h3{

    margin: 5px 0 10px 0;
    font-size: 25px;

}

.producto-Info p{

    margin:0 0 10px 0;

}


.otros-productos{

    width: 100%;
    height: 100%;
    padding: 1.5em 10px;
    text-align: center;
    display: flex;  
    margin-top: 2em;
    justify-content: space-evenly;
}

.target{

    width: 15em;
    height: 15em;
    margin-top: 15px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    border-radius: 7px;
    border: solid #999 4px;
}

.target h3{

    color: #000;
    margin: auto;
    font-size: 30px;

}

.otros-productos-btn{

    height: 30px;
    width: 150px;
    margin-top: 30px;
    border-radius: 11px;
    color: #000;

}

.footer{

    padding: 10px;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
    background: #0e141b;

}

.info-footer{

    width: 38%;
    height: 100%;
    padding: 15px;

}

.info-footer h3{

    margin-bottom: 15px;
    font-size: 23px;

}
.info-footer p{

    color: #fff;
}

.footer-sosial-media{

    width: 28%;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;

}

.footer-sosial-media i,h3{
    
    margin:  0  0 20px 0;
    text-align: left;
    font-size: 15px;

}

.footer-sosial-media h3{

    font-size: 23px;

}

.footer-sosial-media i a{
    
    margin-left: 15px;

}

.footer-contact{

    width: 28%;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;

}

.footer-contact i{

    font-size: 25px;
    margin-bottom: 20px;

}

.footer-contact h3{

    font-size: 23px;

}

.footer-contact i a{

    margin-left: 15px;
    font-size: 15px;

}

.search-form{

    width: 100%;
    display: flex;
    justify-content: center;
    color: #000;

}

.search-bar{

    height: 2em;
    width: 80%;
    border-radius: 11px;
    border: solid 1.5px #000;
    background: transparent;

}