body{

    background: #0e141b;

}

.box {
    border: 1px solid #ccc;
    margin: 10px;
    padding: 10px;
}

.box-header {
    background-color: #eee;
    cursor: pointer;
    font-weight: bold;
}

.box-content {
    display: none;
}
