*{

    border: 0;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    color: #fff;

}

body{

    background: #0e141b;
    padding-bottom: 10px;

}

.nav-bar{

    width: 100%;
    height: 75px;
    display: flex;
    background: #000;
    justify-content: space-between;
    background: #0e141b;
    border-bottom: 3px solid rgba(255, 255, 255, 0.5);

}

.nav-bar ul{

    display: flex;
    width: 70%;
    justify-content: space-around;
    align-items: center;
}

.nav-bar ul li{

    list-style: none;
    align-items: center;
    padding: 5px;

}

.nav-bar ul li a{

    color: #fff;

}

.logo{

    height: 4em;
}
.nav-buttons{

    width: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;

}

.nav-btn{

    align-items: center;
    height: 75%;
    width: 25%;
    border:5px#000;
    background: transparent;
    border-radius: 3px solid #fff;

}

.nav-btn:hover{

    cursor: pointer;

}

/*Main*/

.main{

    padding: 10px 0;
    /*background: #d42f2f;*/        

}


/*Article*/

.article{

    height: 89vh;
    width: 100%;
    display: flex;
    /*background: #040e75;*/
    
}


/*Inicio*/

.inicio{

    height:80%;
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-around;

}

.inicio-content{

    height: 90%;
    width: 45%;
    align-self: center;
    padding: 10px;
    text-align: center;
    
}

.inicio-content P{

    color: #999;
    
}

.inicio-content h1,p{

    color: #000;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    text-align: start;
}

.intercalated-bg span:nth-child(odd) {
    background-color: #040e75; /* Color para las palabras impares */
}
    
.intercalated-bg span:nth-child(even) {
    background-color: #d42f2f; /* Color para las palabras pares */
}
  
.inicio-content h1{

    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    margin-bottom: 25px;
    line-height: 50px;

}

.inicio-image{

    height: 90%;
    width: 45%;
    align-self: center;
    display: flex;

}

.inicio-image img{

    margin: auto;
    width: 90%;
    height: 90%;
    object-fit: cover;

}

.landing-btn{

    margin-top: 50px;
    height: 12%;
    width: 35%;
    border-radius: 20px;
    border: 2px solid #000;
    background: #040e75;

}

/*Section*/

.section{

    width: 100%;
    height: 100%;
    display: flex;  
    flex-direction: column;
    padding:20px;
    background: #17212c;

}

.elements{

    width: 90%;
    height: 40%;
    margin: auto;
    display: flex;
    justify-content: space-around;
    padding: 25px;

}

.element{

    width: 25%;
    height: 85%;
    text-align: center;
    padding: 15px;
    /*background: #040e75;*/

}

.element h2{

    margin-bottom: 10px;

}

.element i{

    font-size: 35px;

}

.info-container{

    width:90%;
    height: 70%;
    margin: auto;
    margin-top: 25px;
    padding: 15px;

}

.info{

    height: 7em;
    width: 90%;
    background: rgb(14,20,27);
    background: linear-gradient(90deg, rgba(14,20,27,1) 0%, rgba(26,26,70,1) 65%, rgba(65,65,65,1) 100%);
    margin: auto;
    margin-bottom:50px;
    position: relative;
    display: flex;
    padding: 10px;
    align-items: center;

}


.info h3{

    width:50%;
    text-align: center;
    margin: auto;

}

.info:nth-child(2n){

    margin-left: 0;
    flex-direction: row-reverse;

}

.info:nth-child(1n){

    margin-right: 0;

}

.footer{

    padding: 10px;
    width: 100%;
    height: 100%;
    margin: auto;
    display: flex;
    margin-top: 20px;
    justify-content: space-evenly;
    /*background: violet;*/

}

.info-footer{

    width: 38%;
    height: 100%;
    padding: 15px;

}

.info-footer h3{

    margin-bottom: 15px;
    font-size: 23px;

}
.info-footer p{

    color: #fff;
}

.footer-sosial-media{

    width: 28%;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;

}

.footer-sosial-media i,h3{
    
    margin:  0  0 20px 0;
    text-align: left;
    font-size: 15px;

}

.footer-sosial-media h3{

    font-size: 23px;

}

.footer-sosial-media i a{
    
    margin-left: 15px;

}

.footer-contact{

    width: 28%;
    height: 100%;
    padding: 15px;
    display: flex;
    flex-direction: column;

}

.footer-contact i{

    font-size: 25px;
    margin-bottom: 20px;

}

.footer-contact h3{

    font-size: 23px;

}

.footer-contact i a{

    margin-left: 15px;
    font-size: 15px;

}