{% extends 'Layouts/tickets_admin.html' %}

{% block navLately %}
{% for category in change_category %}
<li>
    <a href="{% url 'ticket_admin' category.id %}">{{category.nombre}}</a>
</li>
{% endfor %}
{% endblock %}

{% block target %}
{% for ticket in tickets %}
<div class="product">
    
    <h2 class="text-warning text-center">{{ticket.name}}</h2>
    <div class="product_detail">
        <p class="fs-4 text-light">Zona: {{ticket.zona.nombre}} </p>
        <p class="fs-4 text-light">Price: {{ticket.Precio}} </p>
        {% if ticket.comprado == True %}
        <p class="fs-4 text-danger">Estado: Comprado</p>
        {% else %}
        <p class="fs-4 text-success">Estado: Disponible</p>
        {% endif %}
    </div>
    <div class="d-flex mt-2">
        <a href="{% url 'Delete_Ticket' ticket.id %}" class="btn btn-danger m-auto">Delete Ticket</a>
        <a href="{% url 'Update_Ticket' ticket.id %}" class="btn btn-primary m-auto">Update Ticket</a>    
    </div>

</div>
{% endfor %}

{% endblock %}

{% block button %}
<div class="d-flex mt-4 mb-4">
    <a href="{% url 'create_ticket' %}" class="btn btn-primary m-auto">Add Ticket</a> 
</div>
{% endblock %}