{% extends 'Layouts/confirm_buy.html' %}

<!-- Nav Bar -->
{% block nav %}
{% for categoria in change_category %}

{% if categoria.id == 5%}
{% else %}
<li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'products' categoria.id %}">{{categoria.name}}</a>
</li>
{% endif %}
{% endfor %}
{% endblock %}

<!-- Contenido  -->
{% block content %}
<main class="container">

    <div class="card card-body bg-transparent border border-info">
        <h1 class="text-center text-warning">Configurar Compra</h1>
        <p>{{error}}</p>

        <div class="box border border-info-subtle">

            <div class="box-header bg-transparent" onclick="toggleBox(1)">
                <h2 class="text-center text-light fs-4">Seleccionar Direccion de Envio</h2>
            </div>

            <div class="box-content" id="box1">

                {% for direccion in address %}

                <div class="card card-body bg-transparent border border-success-subtle">
                    <div class="direccion" id="direccion{{ direccion.id }}">
                        <p style="visibility:hidden;">{{direccion.id}}</p>
                        <p class="fs-5 text-light">Direccion: {{ direccion.city }}</p>
                        <p class="fs-5 text-light">Ciudad: {{ direccion.address }}</p>
                        <p class="fs-5 text-light">Código Postal: {{ direccion.postal_code }}</p>
                    </div>

                    <div>
                        <button class="btn btn-primary m-auto"><a href="{% url 'update_address' direccion.id product.id %}" class="text-light">Editar</a></button>
                        <button class="btn btn-primary m-auto"><a href="{% url 'delete_address' direccion.id product.id %}" class="text-light">Borrar</a></button>
                        <button class="btn btn-primary elegir-direccion" data-id="{{ direccion.id }}">Elegir</button>
                    </div>

                </div>
                {% endfor %}
                <button class="btn btn-primary"><a href="{% url 'create_address' product.id %}" class="text-light mt-3 mb-3">Agregar Direccion</a></button>

            </div>

        </div>

        <div class="box border border-info-subtle">

            <div class="box-header bg-transparent" onclick="toggleBox(2)">
                <h2 class="text-center text-light fs-4">Seleccionar Metodo de Pago</h2>
            </div>

            <div class="box-content" id="box2">

                {% for targeta in target %}
                <div class="targets card card-body bg-transparent border border-success-subtle d-flex">

                    <div class="direccion" id="targeta{{targeta.id}}">
                        <p style="visibility:hidden;">{{targeta.id}}</p>
                        <p class="fs-5 text-light">Numero de Targeta:{{targeta.target_number}}</p>
                        <p class="fs-5 text-light">Nombre de la targeta: {{targeta.target_name}}</p>
                    </div>

                    <div>
                        <button class="btn btn-primary m-auto"><a href="{% url 'update_target' targeta.id product.id %}" class="text-light">Editar</a></button>
                        <button class="btn btn-primary m-auto"><a href="{% url 'delete_target' targeta.id product.id %}" class="text-light">Borrar</a></button>
                        <button class="btn btn-primary elegir-targeta" dataT-id="{{ targeta.id }}">Elegir</button>
                    </div>

                </div>
                {% endfor %}
                <button class="btn btn-primary"><a href="{% url 'create_target' product.id %}" class="text-light mt-3 mb-3">Agregar Targeta</a></button>

            </div>

        </div>

        <div class="box border border-info-subtle">

            <div class="box-header bg-transparent" onclick="toggleBox(3)">
                <h2 class="text-center text-light fs-4">Configuracion General</h2>
            </div>

            <div class="box-content" id="box3">
                <form method="post">
                    {% csrf_token %}
                    {{form_general_setting}}
                    <button class="btn btn-primary mt-3 mb-3">Confirmar Compra</button>
                </form>
            </div>

        </div>

    </div>
</main>
{% endblock %}