<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'styles/successful_purchase.css' %} ">
    <title>Successful Purchase</title>
</head>
<body>
    
    <main class="main">

        <div class="target">

            <h1>Successful Purchase</h1>
            <button><a href="{% url 'index' %}">Seguir Comprando</a></button>
        </div>
        
    
    </main>
    
</body>
</html>