{% extends 'Layouts/create_admin.html' %}

{% block content %}
<main class="container">
    <div class="row">
        <div class="col-md-4 offset-md-4">
            <form  method="post" class="card card-body mt-5 bg-transparent border-light" enctype="multipart/form-data">
                <h1 class="text-info">Update Ticket</h1>
                {% if error %}
                <p class="text-light">{{error}}</p>
                {% endif %}
                {% csrf_token %}
                {{form.as_p}}
                <div class="m-auto">
                    <a href="{% url 'tickets_admin' %}" class="btn btn-danger">Cancelar</a>
                    <button class="btn btn-primary">Update</button>
                </div>
                
            </form>
        </div>
    </div>

</main>

{% endblock %}